# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Dowload D\Code Fruit-20220928T153157Z-001\Code Fruit\FE sau báo cáo\admin\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
